body {
  text-align: center;
  font-family: "Kalam", sans-serif;
  font-size: 24px;
}

.navbar {
  min-height: 6vh;
}

.navbar-brand img {
  height: 48px;
}

.container, 
.container-md {
  min-height: 90vh;
}

.hero {
  min-height: 400px;
  border: 1px solid black;
}

#messageArea {
  margin: 12px;
  padding: 8px;
  font-size: 32px;
  font-weight: bold;
}

/** Level selection buttons.
 *  Flip animation code obtained from W3Schools and adapted.
 **/
.levelButton {
  display: inline-block;
  height: 200px;
  width: 200px;
  background-color: transparent;
  margin: 16px 32px;
}

.levelButtonContainer {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.levelButton:hover .levelButtonContainer {
  transform: rotateY(180deg);
}

.levelButtonFront, 
.levelButtonBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 5px;
  box-shadow: 3px 3px 3px burlywood;
}

.levelButtonFront {
  background-color: tan;
}

.levelButtonBack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: lightblue;
  border: 1px solid burlywood;
  transform: rotateY(180deg);
}

.levelButtonBack h4 {
  margin-bottom: 16px;
}

#gameArea {
  background-color: darkgreen;
  min-height: 50vh;
  max-width: 100%;
  margin: 0 auto;
  padding: 6px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: none;
}

.tile {
  height: 13vw;
  width: 13vw;
  display: inline-block;
  margin: 6px;
  border: 1px solid black;
  border-radius: 8px;
  transition: transform .5s;
}

.tile:hover {
  filter: brightness(110%);
}

@media screen and (min-width: 768px) {
  .tile {
  height: 12vw;
  width: 12vw;
  }
}

@media screen and (min-width: 1200px) {
  #gameArea {
  flex-direction: column wrap;
  max-height: 75vh;
  }

  .tile {
  height: 6vw;
  width: 6vw;
  }
}


/* Beginner tile set */
.beginnerPair1 {
  background-color: dimgrey;
  background: url("../img/beginner/beginnerPair1.png") center center;
}
.beginnerPair2 {
  background-color: dimgrey;
  background: url("../img/beginner/beginnerPair2.png") center center;
}
.beginnerPair3 {
  background-color: dimgrey;
  background: url("../img/beginner/beginnerPair3.png") center center;
}
.beginnerPair4 {
  background-color: dimgrey;
  background: url("../img/beginner/beginnerPair4.png") center center;
}
.beginnerPair5 {
  background-color: dimgrey;
  background: url("../img/beginner/beginnerPair5.png") center center;
}
.beginnerPair6 {
  background-color: dimgrey;
  background: url("../img/beginner/beginnerPair6.png") center center;
}
.beginnerPair7 {
  background-color: dimgrey;
  background: url("../img/beginner/beginnerPair7.png") center center;
}
.beginnerPair8 {
  background-color: dimgrey;
  background: url("../img/beginner/beginnerPair8.png") center center;
}



/* Intermediate tile set */
.intermediatePair1 {
  background-color: blueviolet;
}

.intermediatePair2 {
  background-color: plum;
}

.intermediatePair3 {
  background-color: cornflowerblue;
}

.intermediatePair4 {
  background-color: chartreuse;
}

.intermediatePair5 {
  background-color: beige;
}

.intermediatePair6 {
  background-color: coral;
}

.intermediatePair7 {
  background-color: darkred;
}

.intermediatePair8 {
  background-color: teal;
}

.intermediatePair9 {
  background-color: navy;
}

.intermediatePair10 {
  background-color: lightgray;
}

.intermediatePair11 {
  background-color: grey;
}

.intermediatePair12 {
  background-color: gold;
}









.faceDown {
  background: url("../img/background.jpg") center center no-repeat;
}

.completed {
  background: transparent;
  border: none;
}

#restartButton {
  margin-top: 6px;
  margin-bottom: 24px;
}

.footerBar {
  background-color: lightgray;
  height: 4vh;
  font-size: 2vh;
  text-align: center;
}