body {
    text-align: center;
}

#gameArea {
    background-color: darkgreen;
    height: 60vh;
    width: 80vh;
    margin: 0 auto;
}

.levelButton {
    display: inline-block;
    margin: 18px;
    padding: 12px;
    border: 1px solid blue;
    text-decoration: none;
}

.tile {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 12px;
    border: 1px solid black;
    border-radius: 8px;
}


/* Beginner tile set */
.beginnerPair1 {
    background-color: blueviolet;
}

.beginnerPair2 {
    background-color: plum;
}

.beginnerPair3 {
    background-color: cornflowerblue;
}

.beginnerPair4 {
    background-color: chartreuse;
}

.beginnerPair5 {
    background-color: beige;
}

.beginnerPair6 {
    background-color: coral;
}

.beginnerPair7 {
    background-color: darkred;
}

.beginnerPair8 {
    background-color: teal;
}


.faceDown {
    background: url("../img/background.jpg") center center no-repeat;
}

.completed {
    background: transparent;
    border: none;
}