body {
    text-align: center;
}

#messageArea {
    padding: 18px;
    font-size: 36px;
}

#gameArea {
    background-color: darkgreen;
    height: 80vh;
    width: 50vw;
    margin: 0 auto;
    padding: 18px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.levelButton {
    display: inline-block;
    margin: 18px;
    padding: 12px;
    border: 1px solid blue;
    text-decoration: none;
}

.tile {
    height: 16vh;
    width: 16vh;
    display: inline-block;
    margin: 12px;
    border: 1px solid black;
    border-radius: 8px;
}


/* Beginner tile set */
.beginnerPair1 {
    background-color: blueviolet;
}

.beginnerPair2 {
    background-color: plum;
}

.beginnerPair3 {
    background-color: cornflowerblue;
}

.beginnerPair4 {
    background-color: chartreuse;
}

.beginnerPair5 {
    background-color: beige;
}

.beginnerPair6 {
    background-color: coral;
}

.beginnerPair7 {
    background-color: darkred;
}

.beginnerPair8 {
    background-color: teal;
}


.faceDown {
    background: url("../img/background.jpg") center center no-repeat;
}

.completed {
    background: transparent;
    border: none;
}